# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- To list some of the popular languages that Data Scientists use.
- To list some of the commonly used libraries by Data Scientists.
- To create a table of Data Science Tools.
- To write a few arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:

1. Python
1. R
1. SQL
1. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
1. SciPy
1. Tensorflow
1. Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Tableau |
| Knime |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
min = 200
hours = min / 60
print(hours)

3.3333333333333335

## Author
Amaan Khan